<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">
        <i class="fab fa-instagram fa-2x"></i>
        <h5>@HISS TKJ</h5>
      </div>
      <div class="col-md-3">
        <i class="fab fa-facebook fa-2x"></i>
        <h5>@HISS TKJ</h5>
      </div>
      <div class="col-md-3">
        <i class="fab fa-youtube fa-2x"></i>
        <h5>HISS TKJ</h5>
      </div>
      <div class="col-md-3">
        <i class="fa fa-envelope fa-2x"></i>
        <h5>hisstkj@smk.binasiswa.id</h5>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="text-center">
      <p>HISS TKJ © All Rights Reserved. 2025</p>
    </div>
  </div>
</footer>
